<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>{% block title %}Default title{% endblock title %}</title>
</head>
<body>
    {% block sidebar %}
        <a href="{% url "index" %}">Главная</a>
        <a href="{% url "about" %}">О компании</a>
        <a href="{% url "about_contacts" %}">Контакты</a>
        <a href="{% url "products_list" %}">Книги</a>
        <a href="{% url "products_top" %}">Выбор покупателей</a>
    {% endblock %}
    <h1>{% block header %}{% endblock header %}</h1>
    <div>{% block content%}{% endblock content %}</div>
</body>
</html>
